*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#222;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
text-align:center;
color:white;
}

h1{
margin-bottom:20px;
font-size:40px;
}

#status{
margin-bottom:20px;
}

.board{
display:grid;
grid-template-columns:repeat(3,120px);
grid-template-rows:repeat(3,120px);
gap:10px;
justify-content:center;
}

.cell{
background:white;
color:black;
display:flex;
justify-content:center;
align-items:center;
font-size:50px;
font-weight:bold;
cursor:pointer;
border-radius:10px;
transition:0.3s;
}

.cell:hover{
background:#ddd;
}

button{
margin-top:25px;
padding:12px 25px;
font-size:18px;
border:none;
border-radius:8px;
cursor:pointer;
background:#00b894;
color:white;
}

button:hover{
background:#019875;
}

@media(max-width:500px){

.board{

grid-template-columns:repeat(3,90px);
grid-template-rows:repeat(3,90px);

}

.cell{
font-size:40px;
}

}